* {
  padding: 0;
  margin: 1px;
  box-sizing: border-box;
}

.header {
  background-color: beige;
}

header a:hover {
  color: blue;
}

.navbar {
  display: flex;
  justify-content: left;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
  padding: 3px 20px;
}

/*body*/
h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

img {
  position: relative;
}

p {
  margin-bottom: 10px;
}

#contactus {
  margin-bottom: 20px;
}

#contactus a {
  color: black;
  text-decoration: none;
}

#contactus a:hover {
  color: blue;
}

div img {
  margin-bottom: 20px;
}

form fieldset {
  width: 300px;
}

form fieldset div {
  margin-top: 10px;
  margin-bottom: 10px;
}
